<div class="card mb-1">
    <div class="card-body">
        <h5 class="card-title">Filter</h5>
    </div>
</div>
<div class="card mb-1">
    <div class="card-body">
        <h6 class="card-title">Categories</h6>
            <ul class="list-group">
                <li class="list-group-item list-group-item-border-none">
                    <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="firstRadio" (click)="getCategoryList('Mobiles')">
                    <label class="form-check-label" for="firstRadio">Mobiles</label>
                </li>
                <li class="list-group-item list-group-item-border-none">
                    <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="secondRadio" (click)="getCategoryList('Tablet')">
                    <label class="form-check-label" for="secondRadio">Tablets</label>
                </li>
                <li class="list-group-item list-group-item-border-none">
                    <input class="form-check-input me-2" type="radio" name="listGroupRadio" value="" id="thirdRadio" (click)="getCategoryList('Laptop')">
                    <label class="form-check-label" for="thirdRadio">Laptops</label>
                </li>
            </ul>
    </div>
</div>
<div class="card mb-1">
    <div class="card-body">
        
        <img src="https://www.ashokitech.com/uploads/settings/general_settings_1639053735_1412244780.jpg" class="logo-height">
        
    </div>
</div>
<div class="card mb-3">
    <div class="card-body">
        <div>
            <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-secondary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-success" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-danger" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-warning" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-info" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
              <div class="spinner-grow text-light" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
        </div>
    </div>
</div>
