
<div class="login login-background">
  <div class="card" style="margin: auto;width: 390px;padding: 50px; top: 150px;">
    <h4 class="" >Welcome to Ashokit Cart</h4>
    <ul class="nav nav-underline mb-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/login">LogIn</a>
      </li>
    </ul>
    <form [formGroup]="profileForm" (ngSubmit)="login()">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="loginemail" placeholder="name@example.com" formControlName="email">
        <label for="loginemail">Email address</label>
        <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="text-danger">
          Please enter a valid email.
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="loginpassword" placeholder="Password" formControlName="password">
        <label for="loginpassword">Password</label>
        <div *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched" class="text-danger">
          Please enter a valid password.
        </div>
      </div>
      <div class="forgotpassword flex mb-2">
        <div class="left">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="logincheckbox">
            <label class="form-check-label" for="logincheckbox">
             Remember me
            </label>
          </div>
        </div>
        <div class="right link-underline-primary"><a href="#" class="link-underline-primary"> Forgot Password?</a></div>
      </div>
      <button type="submit" class="btn btn-danger mb-3" style="width: 100%;" [disabled]="profileForm.invalid">Submit</button>
      <div class="register flex mb-3">
        <div class="left">Don't have an account? <a href="/register">Register here</a></div>
      </div>
    </form>
  </div>
</div>