<header>
    <nav class="navbar background-color-header">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" routerLink="/home"><i class="bi bi-cart-fill"></i></a> -->
        <ul>
          <li class="active"> <img src="https://www.ashokitech.com/uploads/settings/general_settings_1639053735_1412244780.jpg" class="logo-height"></li>
          <li class="active"><a href="/dashboard">All Categories<i class="bi bi-caret-down-fill"></i></a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
        </ul>
        <ul>
          
          <li class="active">
            <form class="d-flex " role="search">
              <input class="form-control me-2 w-486 text-body-secondary" type="search" placeholder="Search for products, brands and more" aria-label="Search for products, brands and more">
              <button class="btn btn-danger" type="submit">Search</button>
            </form>
          </li>
        </ul>
        <span class="color-white"><i class="bi bi-person"></i> Raju Talari</span>
        <button class="btn btn-outline-danger br-0 b-0 color-white" type="submit" routerLink="/login">Sign Out</button>
        <a class="navbar-brand color-white cart-header" routerLink="/viewCart"><i class="bi bi-cart-fill position-relative">
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            2
            <span class="visually-hidden">unread messages</span>
          </span>
        </i></a>
      </div>
    </nav>
  </header>