
<div class="login login-background">
  <div class="card" style="margin: auto;width: 390px;padding: 50px; top: 100px;">
    <h4 class="" >Welcome to Ashokit Cart</h4>
    <ul class="nav nav-underline mb-3">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">Register</a>
      </li>
    </ul>
    <form [formGroup]="profileForm" (ngSubmit)="signUp()">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="firstName">
        <label for="floatingInput">First Name</label>
        <div *ngIf="profileForm.get('firstName')?.invalid && profileForm.get('firstName')?.touched" class="text-danger">
          Please enter a valid First Name.
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="lastName">
        <label for="floatingInput">First Name</label>
        <div *ngIf="profileForm.get('lastName')?.invalid && profileForm.get('lastName')?.touched" class="text-danger">
          Please enter a valid Last Name.
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
        <label for="floatingInput">Email address</label>
        <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="text-danger">
          Please enter a valid email.
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
        <label for="floatingInput">Email address</label>
        <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="text-danger">
          Please enter a valid email.
        </div>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
        <div *ngIf="profileForm.get('password')?.invalid && profileForm.get('password')?.touched" class="text-danger" formControlName="password">
          Please enter a valid password.
        </div>
      </div>
     
      <button type="submit" class="btn btn-danger mb-3" style="width: 100%;" [disabled]="profileForm.invalid">Sign up</button>
      <div class="register flex mb-3">
        <div class="left">Already have an account? <a href="/login">Login</a></div>
      </div>
    </form>
  </div>
</div>